<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stop.name %>
</p>

<p>
  <b>Stoptype:</b>
  <%= @stop.stoptype.name %>
</p>


<%= link_to 'Edit', edit_stop_path(@stop) %> | <%= link_to 'Back', stops_path %> | <%= link_to 'Another?', new_stop_path %>
